@import url(OperatorMono.css);
img {
	width: 30%;
	float: left;
	margin: 1.66%
}
h1 {
	font-family: Operator Mono Medium;
	margin-left: 1.66%;
	text-transform: capitalize;
	padding-bottom: 1em;
	border-bottom: 2px solid #f1f1f1;
	width: 30%;
}