@import url('https://fonts.googleapis.com/css?family=Inconsolata');

* {
	font-family: 'Inconsolata', monospace;
	color: #555;
}
body {
	background-color: #3fb399;
}
.container {
	width: 320px;
	background-color: white;
	margin: 7em auto;
}
table {
	width: 100%;
	border-color: #f4f4f4;
}
td {
	width: 25%;
}
button {
	width: 100%;
	height: 4.5em;
	font-size: 1.2em;
	background-color: white;
	border: none;
}
#inputLabel {
	height: 120px;
	font-size: 40px;
	text-align: right;
	vertical-align: bottom;
	padding-right: 0.8em;
	background-color: #ececec;
}